{% extends "base.html" %}

{% block content %}

<h2>Workshop Vehicle Register</h2>

<form method="GET" class="mb-4">
    <div class="input-group">
        <input type="text" name="search" class="form-control" placeholder="Registration" aria-label="Search by registration">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<table class="table table-striped table-hover">

<tr>
    <th>Registration</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>Delete</th>
    <th>Edit</th>
</tr>

{% for car in cars %}

<tr>
    <td>{{ car.registration }}</td>
    <td>{{ car.make }}</td>
    <td>{{ car.model }}</td>
    <td>{{ car.year }}</td>
    <td ><a href="/vehicle/delete/{{ car.id }}" class="btn btn-danger">Delete</a></td>
    <td><a href="/vehicle/edit/{{ car.id }}" class="btn btn-warning">Edit</a></td>
</tr>

{% endfor %}

</table>

{% endblock %}